<app-header></app-header>

<section class="containerAll">

    
    <div>

        <button type="button" (click)="all()" class="buttonStyle text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">All</button>
        <button type="button" id="buttonLandscapes" (click)="landscapes()" class="buttonStyle text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Landscapes</button>
        <button type="button" (click)="games()" class="buttonStyle text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Games</button>
        <button type="button" (click)="emo()" class="buttonStyle text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Emo</button>
    </div>

</section>

<section class="containerImgAll" id="containerAll">

    @for (item of dataAll; track item._id) {
        
        <div class="containerImg">
            
            @if(item.favorite == "no") {

           
            <img class="heart" (click)="favorite(item._id)" src="/icons/heart.png" alt="">
        } @else {
            
            <img class="heart" (click)="favoriteBack(item._id)" src="/icons/heart2.png" alt="">

        }

            <img class="imgStyle"  src="{{item.url}}" alt="">
        
        </div>

        }

        </section>



<section class="containerImgAll" id="containerLandscapes">

    @for (item of dataLandscapes; track item._id) {
        
        <div class="containerImg">
            
            @if(item.favorite == "no") {

           
            <img class="heart" (click)="favorite(item._id)" src="/icons/heart.png" alt="">
        } @else {
            
            <img class="heart" (click)="favoriteBack(item._id)" src="/icons/heart2.png" alt="">

        }

            <img class="imgStyle"  src="{{item.url}}" alt="">
        
        </div>

        }
        </section>

        <section class="containerImgAll" id="containerGames">

            @for (item of dataGames; track item._id) {
                
                <div class="containerImg">
                    
                    @if(item.favorite == "no") {
        
                   
                    <img class="heart" (click)="favorite(item._id)" src="/icons/heart.png" alt="">
                } @else {
                    
                    <img class="heart" (click)="favoriteBack(item._id)" src="/icons/heart2.png" alt="">
        
                }
        
                    <img class="imgStyle"  src="{{item.url}}" alt="">
                
                </div>
        
                }

        </section>


   

      
        <section class="containerImgAll" id="containerEmo">
            
      

                <div  class="empty" id="empty">

                    <h1 class="titleEmpty">EMPTY</h1>
                </div>
             
                       

            @for (item of dataEmo; track item._id) {
                
                <div class="containerImg">
                    
                    @if(item.favorite == "no") {
        
                   
                    <img class="heart" (click)="favorite(item._id)" src="/icons/heart.png" alt="">
                } @else {
                    
                    <img class="heart" (click)="favoriteBack(item._id)" src="/icons/heart2.png" alt="">
        
                }
        
                    <img class="imgStyle"  src="{{item.url}}" alt="">

                  
                </div>
        
                }

        </section>
  